<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- Styles
        link(rel="stylesheet", href="css/style.min.css")
        //- Fonts
        link(href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400&display=swap", rel="stylesheet")
        //- Title 
        title Fasterview
    body

        .row
            -for(let i = 1;i <= 12; i++)
                div(class="col-" + i, style="margin: 10px 0px;")
                    div(style="height: 20px; background-color: black;")
                div(class="col-" + (12 - i), style="margin: 10px 0px;")
                    div(style="height: 20px; background-color: black;")

        .row     
            div(class="col-xl-2 col-lg-3 col-md-6 col-sm-8 col-12", style="margin: 10px 0px;")
                div(style="height: 20px; background-color: blue;")
            div(class="col-xl-2 col-lg-3 col-md-6 col-sm-8 col-12", style="margin: 10px 0px;")
                div(style="height: 20px; background-color: blue;")
            div(class="col-xl-2 col-lg-3 col-md-6 col-sm-8 col-12", style="margin: 10px 0px;")
                div(style="height: 20px; background-color: blue;")
            div(class="col-xl-2 col-lg-3 col-md-6 col-sm-8 col-12", style="margin: 10px 0px;")
                div(style="height: 20px; background-color: blue;")
            div(class="col-xl-2 col-lg-3 col-md-6 col-sm-8 col-12", style="margin: 10px 0px;")
                div(style="height: 20px; background-color: blue;")
            div(class="col-xl-2 col-lg-3 col-md-6 col-sm-8 col-12", style="margin: 10px 0px;")
                div(style="height: 20px; background-color: blue;")

        div(class="col-12 bg-blue" , style=" margin: 40px 0px; padding: 20px 0px;")
            div(class="col-12 bg-white" , style="height: 10px; margin: 10px 0px;")
            div(class="col-12 bg-black" , style="height: 10px; margin: 10px 0px;")
            div(class="col-12 bg-light" , style="height: 10px; margin: 10px 0px;")
            div(class="col-12 bg-dark" , style="height: 10px; margin: 10px 0px;")
            div(class="col-12 bg-green" , style="height: 10px; margin: 10px 0px;")
            div(class="col-12 bg-red" , style="height: 10px; margin: 10px 0px;")
    
    
        div(class="col-12 text-blue bg-red" , style=" margin: 40px 0px; padding: 20px 0px;")
            |Hello friend
            div(class="col-12 text-white" , style="margin: 10px 0px;")
                |Hello friend
            div(class="col-12 text-black" , style="margin: 10px 0px;")
                |Hello friend
            div(class="col-12 text-light" , style="margin: 10px 0px;")
                |Hello friend
            div(class="col-12 text-dark" , style="margin: 10px 0px;")
                |Hello friend
            div(class="col-12 text-green" , style="margin: 10px 0px;")
                |Hello friend
            div(class="col-12 text-red bg-blue" , style="margin: 10px 0px;")
                |Hello friend
            
        div.col-12.bg-xl-blue.bg-lg-black.bg-md-white.bg-sm-red.bg-light
            p.text-sm-blue.text-md-black.text-lg-white.text-xl-red.text-dark
                |Here is the paragraph for testing text and background colors
    