extends inc/layout.pug

block content

    .container.auth-form-container
        .row
            .col-lg-5.col-md-6.col-sm-8.col-12.mx-auto
                form.auth-form
                    +input("email","email", "", "Email", "", "This email is already used")
                    +input("password","password", "", "Passwrod")
                    
                    .form-group.mt-30.d-flex.justify-between.align-center
                        button(type="submit").loading 
                            span.btn-text Login
                            <div class="ring"></div>
                        span.msg
                            | Don't have an account? 
                            a(href="/register.html", class="a-blue") Register