extends inc/layout.pug

block content

    .container-fluid.bg-white.profile-container
        .user-info-container
            .row
                .col-sm-8.col-lg-6.mx-auto
                    .user-info
                        img.user-pic(src="/images/placeholder (1).jpg")                    
                        span.user-name John Doe
                        p.user-bio
                            |Full-stack web developer and UI/UX designer, Experienced on Laravel, Angular, database design and implementation and UI/UX tools such as AdobeXD and Photoshop.