extends inc/layout.pug

block content

    .container.auth-form-container
        .row
            .col-lg-5.col-md-7.col-sm-9.col-12.mx-auto
                form.auth-form
                    +input("text","name", "", "Username", "", "Invalid username")
                    +input("email","email", "", "Email")
                    +input("password","password", "", "Passwrod")
                    +input("password","confirm_password", "", "Confirm Password")

                    .form-group.mt-30.d-sm-flex.justify-between.align-center
                        button(type="submit") Register
                        span.msg
                            | Have an account? 
                            a(href="/login.html", class="a-blue") Login