*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: color("light");
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    padding-top: 70px; // For the navbar
}