/*
    This file has the grid system and breakpoints
*/

$numberOfColumns: 12;
$gutter: 30px;

// ============== Breakpoints ==============
// Bootstrap breakpoints
@mixin sm(){
    @media (min-width: 576px) { 
        @content;
     }
}

@mixin sm-r(){
    @media (max-width: 576px) { 
        @content;
     }
}

@mixin md(){
    @media (min-width: 768px) { 
        @content;
     }
}
@mixin lg(){
    @media (min-width: 992px) { 
        @content;
     }
}
@mixin xl(){
    @media (min-width: 1200px) { 
        @content;
     }
}

// ============== Container ==============
.container{
    margin-left: auto;
    margin-right: auto;

    @include sm(){
        width: 576px;
    }
    @include md(){
        width: 768px;
    }
    @include lg(){
        width: 992px;
    }
    @include xl(){
        width: 1200px;
    }
}

.container-fluid{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

// ============== col class ============== 
[class^="col-"]{
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
}




// ============== Building the grid ==============
@for $i from 1 through $numberOfColumns{
    .col-#{$i}{
        width: (100% / $numberOfColumns) * $i;
    }
}

// col-sm
@for $i from 1 through $numberOfColumns{
    @include sm(){
        .col-sm-#{$i}{width: (100% / $numberOfColumns) * $i !important;}
    }
}

// col-md
@for $i from 1 through $numberOfColumns{
    @include md(){
        .col-md-#{$i}{width: (100% / $numberOfColumns) * $i !important;}
    }
}

// col-lg
@for $i from 1 through $numberOfColumns{
    @include lg(){
        .col-lg-#{$i}{width: (100% / $numberOfColumns) * $i !important;}
    }
}

// col-xl
@for $i from 1 through $numberOfColumns{
    @include xl(){
        .col-xl-#{$i}{width: (100% / $numberOfColumns) * $i !important;}
    }
}