/*
    This file contains all style for the navbar
*/

.navbar{
    background-color: color("dark");
    color: color("white");
    padding: 10px 0px;
    position: fixed;
    top: 0px;
    width: 100%;

    // ==== Logo ==== 
    .logo{
        &,
        & img{
            width: 50px;
            @include sm-r(){
                width: 40px;
            }
        }
    }
}

.navbar-list{
    padding: 0px;
    margin: 0px;
    text-align: center;
    list-style: none;
    display: flex;
}

.navbar-link{
    font-size: 24px;
    margin-left: 30px;
    color: color("white");
    @include sm-r(){
        font-size: 20px;
    }
    &:hover{
        color: color("blue");
    }
    &.active{
        color: color("blue");
    }
}

.navbar-link-btn{
    @extend .navbar-link;
    background-color: color("blue");   
    padding: 3px 15px;
    border-radius: 4px;
    @include sm-r(){
        padding: 3px 10px;
    }
    &:hover{
        color: color("white");
        background-color: darken(color("blue"), 10);
    }
    &.active{
        background-color: transparent;
        &:hover{
            color: color("blue");
            background-color: transparent;
        }
    }
}

