/*
    This file contains classes about:
        - display
        - margin
        - padding
        - fonts
*/

// ============ Display ============

.d-block{
  display: block;
}
// Flex
.d-flex {
  display: flex;
}
.d-sm-flex {
  @include sm() {
    display: flex;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

// ============ Padding ============
.px-30{
  padding-left: 30px;
  padding-right: 30px;
}

// ============ Margin ============
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}


.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}

// ============ Fonts & Text ============
.font-bold{
  font-weight: bold !important;
}
.font-light{
  font-weight: normal;
}

.text-center{
  text-align: center;
}