/*
    This file contains classes about:
        - display
        - margin
        - padding
*/

// ============ Display ============

// Flex
.d-flex {
  display: flex;
}
.d-sm-flex {
  @include sm() {
    display: flex;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

// ============ Margin ============
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-30 {
  margin-top: 30px;
}
