//- The header of all pages

//- ================== Navbar ==================
nav.navbar
    .container
        .col-12.d-flex.justify-between.align-center
            a(href="/").logo
                img(src="/images/logo.png", alt="")
            ul.navbar-list
                li
                    a(href="/login.html").navbar-link Login
                li
                    a(href="/register.html").navbar-link-btn Join Free



